body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #a2d5d2;
  }
  .container {
    display: flex;
    margin: 0 auto;
    padding: 8px;
  }
  
  .map {
    flex-basis: 75%;
    height: 90vh;
    width: 30px; 
  }
  
  .widgets {
    margin-left: 0%;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    height: 90vh;
    width: 6px; 
    position: relative;
  }
  
  .widget-background {
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16766f;
    border-radius: 10px;
    opacity: 0.3;
    z-index: -1;
  }
  
  .widget {
    margin: 0 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: auto;
  }
  
  .widget h2 {
    margin-left:0;
    margin-top: 0;
    font-size: 18px;
    font-weight: normal;
  }
  
  .widget p {
    margin-left:0;
    margin-right:0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
  }
  
  .curve_chart {
  background-color: #0088a9;
  }
  
  h1 {
    margin-right: auto;
    color: #fff;
  }
  
  h2, h3 {
    margin: 10px;
    font-size: 20px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  p {
    margin: 0px;
  }
  
  /* Dropdown menu styling */
  .dropbtn {
    background-color: #673dca;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #673dca;}
  /* End of dropdown button styling */
  
  #piechart {
    margin-top: 10px;
    width: 500px;
    height: 300px;
  }

  #title {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
    color: white
  }
  
  #subtitle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 70px;
    margin-left: 190px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    color: white
  }
  
  /* the layout of the legend panel */
  .map-overlay {
    position: absolute;
    bottom: 20px;
    right: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    border-radius: 3px;
  }
  
  #legend {
    position: absolute;
    right: 20px;
    bottom: 70px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 16px;
    height: 210px;
    width: 200px;
  }
  
  .legend-key {
    display: flex;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    float: left;
    align-items: center;
    margin-top: 3px;
  }
  
  
  #features2 {
    top: 0;
    height: 120px;
    margin-top: 20px;
    width: 300px;
    color: white;
    opacity: 0.7;
  }
  
  /* each line for a break */
  .break {
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  
  /* basic style for a dot/circle */
  .dot {
    display: inline-block;
    margin-top: 5px;
    border-radius: 50%;
    opacity: 0.6;
  }
  
  /* the label for the dot */
  .dot-label {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
    margin-bottom: 40px;
  }
  .mapboxgl-canvas-container.mapboxgl-interactive,
  .mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: unset;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    height: 8px;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
    padding: 30px;  
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  /* Changes color of "a" hyperlink */
  /* Makes the dropdown menu and linked data sources unreadable
  a:link, a:visited {
  
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  */
  a:visited {
    color: black;
  }
  
    .about-container {
      padding: 1rem;
      flex-direction: column;
  }
  
  .about-section {
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 1rem;
  }
  
  .team-subheading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .team-members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
    padding: 1rem;
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    border-radius: 0.25rem;
    margin: 1rem;
  }
  
  h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
  }
  
  .about-section {
    background-color: rgb(244, 233, 255);
  }
  
  .team-member {
    background-color: rgb(244, 233, 255);
    opacity: 0.8;
  }
  
  .sources-section {
    background-color: rgb(244, 233, 255);
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 1rem;
  }
  
  .sources-container { 
    padding: 1rem;
  }
  
  .sources-button {
    margin-left: 30px;
  }

  .time-buttons {
    display: flex; /* Use 'display: flex' instead of 'position: flex' */
    flex-wrap: wrap; /* Allows wrapping if needed */
    gap: 5px; /* Space between buttons */
    padding: 0; /* Remove extra padding to control spacing */
    margin: 0; /* Add margin of 5px to the top and bottom */
}


 .time-buttons button  {
  padding: 5px 25px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.3s ease; /* Smooth hover effect */
}

.time-buttons button:hover {
    background: #e0e0e0;
}

.button-container {
  position: fixed;
  bottom: 60px;
  left: 27%;
  background-color: hsl(0, 0%, 50%);
  border-radius: 5px;
  opacity: 0.9;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 21%, 95%, 0.2);
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  padding: 3px; /* Add padding inside the container for uniform spacing */
  margin: 5px 0; /* Add margin outside the container */
}